{# templates/user/account.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block components %}
    <script type="module">
        import {loadComponent} from "/js/reactive.js";
        import {ChangePassword} from "/js/components/change-password.js";

        loadComponent("password", ChangePassword)
    </script>
{% endblock %}

{% block body %}
    <div class="container w-1/3 m-auto">
        <div>
            <h1 class="h3 mb-3">
                Mon compte</h1>
            <div class="VBox">
                <span><i class="fas fa-user"></i>Identifiant</span>
                <p type="text">{{ user.login }}</p>
                <span><i class="fas fa-envelope"></i>Email</span>
                <p type="text">{{ user.email }}</p>
                <react-password></react-password>

                {% if user.is_verified == false %}
                    <div class="alert-static bg-yellow-100 text-yellow-600 mt-2">
                        <i class="fas fa-exclamation-triangle"></i>
                        Votre compte n'est pas encore vérifié. Merci de vérifier
                        votre boîte
                        mail.
                    </div>
                {% endif %}

                <a href="{{ path('app_logout') }}"
                   class="transition rounded-md px-4 py-2 danger mt-3 flex justify-center items-center">
                    Se déconnecter
                    <i class="fas fa-sign-out-alt ml-2"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
