{% extends 'base.html.twig' %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block body %}
    <div><p>Bienvenue sur <strong>Trello-Trollé</strong>!</p></div>
    <div>
        {% if app.user %}
            <span><a class="underline text-blue-700 hover:text-blue-800" href="{{ path('app_tableaux') }}">Consulter mes tableaux</a></span>
        {% else %}
            <p>
                Pour créer des tableaux, commencez par vous
                <a class="underline text-blue-700 hover:text-blue-800" href="{{ path('app_login') }}">connecter</a>
                ou par <a class="underline text-blue-700 hover:text-blue-800" href="{{ path('app_register') }}">créer un
                    compte</a>!
            </p>
        {% endif %}
        <form id="feur">
            <input name="TitreColonne" placeholder="Nom tableau">
            <button type="submit">Feur</button>
        </form>
        <script type="module">
            import {API} from "./js/api.js"

            API.formHandler("feur", (data) => {
                API.create("/tableau/18/colonne", data)
            })
        </script>
    </div>
{% endblock %}