{% extends 'base.html.twig' %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block body %}
    <div><p>Bienvenue sur <strong>Trello-Trollé</strong>!</p></div>
    <div>
        {% if app.user %}
            <span><a class="underline text-blue-700 hover:text-blue-800" href="{{ path('app_tableaux') }}">Consulter mes tableaux</a></span>
        {% else %}
            <p>
                Pour créer des tableaux, commencez par vous
                <a class="link" href="{{ path('app_login') }}">connecter</a>
                ou par <a class="link" href="{{ path('app_register') }}">créer un compte</a>!
            </p>
        {% endif %}
    </div>
{% endblock %}