{# templates/tableau/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ titretableau }}{% endblock %}

{% block components %}
    <script type="module">
        import {Columns} from "/js/components/columns.js";
        import {loadComponent} from "/js/reactive.js";

        loadComponent("columns", Columns)
    </script>
{% endblock %}

{% block body %}
    <div class="w-full flex justify-between">
        <h1>{{ titretableau }}</h1>
        <i class="fa-solid fa-gear"></i>
    </div>
    <react-columns class="grow" table="{{ idtableau }}"></react-columns>
{% endblock %}