{# templates/tableau/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ titretableau }}{% endblock %}

{% block components %}
    <script type="module">
        import {Columns} from "/js/components/columns.js";
        import {loadComponent} from "/js/reactive.js";

        loadComponent("columns", Columns)
    </script>
{% endblock %}

{% block body %}
    <h1>{{ titretableau }}</h1>
    <react-columns table="{{ idtableau }}"></react-columns>
{% endblock %}