{% extends 'base.html.twig' %}

{% block title %}Création d'une colonne{% endblock %}

{% block body %}
    <h3>Création d'une colonne :</h3>
    {# TODO: Implement the form for creating a column #}
{% endblock %}