{% extends 'base.html.twig' %}

{% block title %}Modification d'une colonne{% endblock %}

{% block body %}
    <h3>Modification d'une colonne :</h3>
    {# TODO: Implement the form for updating a column #}
{% endblock %}