{# templates/utilisateur/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <h3>Modifier un utilisateur :</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Update</button>
    {{ form_end(form) }}
{% endblock %}