{% extends 'base.html.twig' %}

{% block title %}Modification d'une carte{% endblock %}

{% block body %}
    <h3>Modification d'une carte :</h3>
    {# TODO: Implement the form for updating a card #}
{% endblock %}