{# templates/carte/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nouvelle carte{% endblock %}

{% block body %}
    <h3>Nouvelle carte :</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Create</button>
    {{ form_end(form) }}
{% endblock %}